[submodule "fishhook"]
	path = fishhook
	url = https://github.com/LiveContainer/fishhook
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/krzyzanowskim/OpenSSL
[submodule "litehook"]
	path = litehook
	url = https://github.com/LiveContainer/litehook
[submodule "Core/Dependencies/minimuxer"]
	path = Core/Dependencies/minimuxer
	url = https://github.com/SideStore/minimuxer
	branch = develop
[submodule "Core/Dependencies/SideSign"]
	path = Core/Dependencies/SideSign
	url = https://github.com/SideStore/SideSign
	branch = main
